[Unit]
Description=Last.fm reporting client for mpd
Documentation=man:mpdscribble(1)
After=remote-fs.target mpd.service

[Service]
ExecStart=/usr/bin/mpdscribble --no-daemon

[Install]
WantedBy=default.target
